/*resetting all margins and paddings so everything stretches across the screen */
body, html{
    height:100%;
    margin:0;
    padding:0;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
/* the top bar with logo, navbar icon, tagline, and headline */
.topbar {
    width : 100%;
    height: 10%;
    min-width:630px;
    min-height:100px;
    /* background-color: #d8d8d8; */
    margin: 0;
}
.topbar .topleft {
    display:block;
    float:left;
    width: 21%;
    padding-top: 3%;
    padding-right: 1%;
    padding-left: 3%;
    padding-bottom: 0;
}
.topbar .topmiddle {
    display:block;
    float:left;
    text-align: center;
    width: 50%;
    margin: 0;
}
.topbar .topright{
    display:block;
    float:right;
    padding: 1% 1% 0 1%;
    width:23%;
    height:100%;
}
/* The side navigation menu */
.navbar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.navbar a {
    padding: 8px 8px 8px 32px;
    margin: 10px auto;
    text-decoration: none;
    font-family: "Montserrat", "Lucida Grande", sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.navbar a:hover, .offcanvas a:focus{
    color: #FFA9A9;
}

/* Position and style the close button (top right corner) */
.navbar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
}

/* styling the headline */
.topbar h1 {
    font-family: "lost", "Indie Flower", "Lucida Grande", sans-serif;
    font-size: 2em;
    margin: 0;
    text-transform: lowercase;
    letter-spacing: 1px;
    padding-top: 1em;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.topbar a{
    text-decoration: none;
}
.topbar h1:hover{
    color: #FFA9A9;
    transition: 0.3s;
}

/* styling the tagline
.topbar h2 {
    font-family: "Montserrat", "Lucida Grande", sans-serif;
    font-size: 0.8em;
    margin: 0;
}
*/
/* everything in the main container below the top bar */
.choicediv {
    /* background-color: #ffffff; */
    min-height: 20%;
    background-size: cover;
    min-width:630px;
    background-color: inherit;
    margin-top:3%;

}

/* the container for the videos */
.results {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

/*every video result */
.vidresult {
    width: 23%;
    padding: 1%;
    margin: 0;
    float:left;
}
@media only screen and (max-width: 1080px) {
    .vidresult { width: 20%; }
    .hider { display: none; }
}
@media only screen and (max-width: 800px) {
    .vidresult { width: 45%; }
    .hider { display: none; }
}

@media only screen and (max-width: 610px) {
    .vidresult { width: 47%; }
}

@media only screen and (max-width: 550px) {
    .vidresult { width: 100%; }
    .hider { display: block; }
}